[submodule "Equinox/vendor/spdlog"]
	path = Equinox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Equinox/vendor/GLFW"]
	path = Equinox/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Equinox/vendor/imgui"]
	path = Equinox/vendor/imgui
	url = https://github.com/TheCherno/imgui
